* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffd480;
}

.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 10px;
    background-color: darkgreen;
    width: 12%;
    height: 17%;
}

.root > .rootChild {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Timer {
    font-size: 3vmax;
}

.rootChild > button {
    background-color: #b38600;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-size: 1.2vmax;
    font-weight: bold;
}

.rootChild > button:hover {
    background-color: #3366ff;
}